body{
  background-color: darkslateblue ;
  color:purple; 
  text-align: center;
}

div{
  background-color: pink;
  text-align: center;
  margin: auto;
  
  
}

ul{
  list-style: none;
}

#retu{
  background-color: darkslateblue; 
  width: 70%;
  text-align: left;
}

#perekele{
  width: 70%;
  
}
#lisaaNappi{
  width: 100%;
  background-color: black;
  color: white;
  
}
#retunico{
  text-align: left;
  background-color: darkslateblue; 
}
#nicoonretu{
  text-align: left;
  background-color: darkslateblue; 
}
#nooaonretumyos{
  text-align: left;
  background-color: darkslateblue; 
}
#kehvelijoona{
  text-align: left;
  background-color: darkslateblue; 
}